<!DOCTYPE html>
<html>
<head>   
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width", initial-scale="1">
   
</head>
<body>
        <% include head %>
    <h1>Welcome...<%=name%></h1>
    <a href="/req">ADD_NEW</a>
    <table width="500" border="1">
            <tr><td><h2>NAME</h2></td> <td><h2>PRICE</h2></td> <td><h2>QUANTITY</h2></td>
<% data.forEach(function(p){
    %>
    <tr><td><%=p.name%></td><td><%=p.price%></td> <td><%=p.qty%></td>
    <td><a href="remove/<%=p._id%>">Remove</a></td>
    <td><a href="update/<%=p._id%>">update</a></td>
</tr>
    <%
}) %>
</table>
</body>
</html>